.certificate_swiper h4 {
    font-weight: 700;
    font-size: 40px;
    
    padding-top: 65px;
    padding-bottom: 50px;
    text-align: center;
    }

    .certificate_swiper {
        padding-bottom: 170px;
    }
